backoff==2.2.1
beautifulsoup4==4.13.3
boto3==1.37.17
datasets==3.4.1
faiss_cpu==1.10.0
fastapi==0.115.11
Flask==3.1.0
flask_cors==5.0.1
Flask_Session==0.8.0
google_search_results==2.4.2
gym==0.26.2
ijson==3.3.0
ipython==8.12.3
joblib==1.4.2
langchain==0.3.21
matplotlib==3.10.1
networkx==2.6.1
nltk==3.9.1
numpy==1.26.4
ollama==0.4.7
openai==0.28.0
ordered_set==4.1.0
pandas==2.2.3
pydantic==2.10.6
python_dotenv==1.1.0
regex==2024.11.6
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
scispacy==0.2.2
seaborn==0.13.2
sentence_transformers==3.4.1
serpapi==0.1.5
spacy==3.7.4
starlette==0.46.1
torch==2.6.0
tqdm==4.67.1
ujson==5.10.0
uvicorn==0.34.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_lg-0.5.4.tar.gz